<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="User">
        <property name="name" value="通过无参构造方法来创建"/>
    </bean>
    <!-- 第一种根据index参数下标设置 -->
    <!--    <bean id="userT" class="UserTwo">-->
    <!--        <constructor-arg index="0" value="通过有参构造方法来创建"/>-->
    <!--    </bean>-->
    <!-- 第二种根据参数名字设置 -->
    <bean id="userT" class="UserTwo">
        <constructor-arg name="name" value="通过有参构造方法来创建"/>
    </bean>
    <!-- 第三种根据参数类型设置   不建议使用-->
    <!--    <bean id="userT" class="UserTwo">-->
    <!--        <constructor-arg type="java.lang.String" value="通过有参构造方法来创建"/>-->
    <!--    </bean>-->
</beans>